tests
tools
samples
src
prompt.md
vite.config.ts
tsconfig.json
bun.lock
*.zip
*.tgz
.idea
.vscode
docs/*.drawio
.husky
.prettierignore
.prettierrc
index.html
bunfig.toml
eslint.config.js
src/Schemas/env.schema.json