{
	"$schema": "https://json.schemastore.org/prettierrc",
	"trailingComma": "all",
	"semi": false,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"arrowParens": "always",
	"overrides": [
		{
"files": ".prettierrc",
"options": {
				"parser": "json"
			}
		}
	]
}
